<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WaitTimeSeconds>1</WaitTimeSeconds>
  <TimeOutSeconds>40</TimeOutSeconds>
  
  <IpToTest>
    <IP Address="172.28.129.100" Port="8080">ARCHIVOS AIFCOMX</IP>
    <IP Address="172.28.129.33">AIFCOMX028</IP>
    <IP Address="172.28.129.53">Compu de Jerry</IP>
  </IpToTest>
  
  <MailConfiguration>
    <SendFrom>noreply@airpak-latam.com</SendFrom>
    <Recipients>
      <Email>rene.zamorano@airpak-latam.com</Email>
    </Recipients>
    <Subject>Se ha {status} la conexión con {hostname}</Subject>
    <Body>
      El equipo {computername} ha {status} la conexión con el equipo {hostname} con {ip} en el puerto {port} durante mas de {timeout} segundos.

      Favor de verificar el estado de la conexión.

      {testresults}
    </Body>
    <IsHtml>false</IsHtml>
    <SmtpCredentials UserName="rene.zamorano@airpak-latam.com" Password="01FhX/M0XhwNjpREP3KTbrttHMsPU/cUl6YgPeBkHoTNcHa4ustG17esgD7bFcMf" />
    <SmtpConfiguration Host="smtp.gmail.com" Port="587" UseSsl="true" />
  </MailConfiguration>
</Configuration>
